body,
html {
    height: 100%;
    font-family: "Inconsolata", sans-serif;
}
.imagen-fondo {
    background-position: center;
    background-size: cover;
    background-image: url("../img/background_5.jpg");
    min-height: 100%;
}

h1 {
    font-size: 90px;
    color: #fff;
}

h2 {
    color: #fff;
}

h3 {
    font-size: 18px;
    font-family: "Segoe UI", Arial, sans-serif;
    font-weight: 400;
    margin: 10px 0;
}

p {
    text-align: center;
    color: brown;
    font-weight: bold;
    font-size: 22px;
    margin-bottom: 1px;

}

h4 {
    text-align: center;
    font-size: 18px;
    margin-top: 1px;
}

button {
    border: none;
    background-color: #000;
    color: #fff;
}

#especializacion {
    background: #F7F5F2;
    margin: 0;
    padding: 0;
}